.navbar-content .navbar .nav-item .nav-link {
  color: #333333; }
.navbar-content .navbar .nav-item:hover .nav-link {
  color: #0e8ce4; }

@media(max-width: 768px) {
  .desc-content .col-md-6 {
    margin-bottom: 2rem; }
    .desc-content .col-md-6.pr-0 {
      padding-right: 15px !important; }
    .desc-content .col-md-6.pl-0 {
      padding-left: 15px !important; } }
.desc-content .video-content {
  position: relative; }
  .desc-content .video-content .play-icon {
    opacity: 0.7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%); }
.desc-content .desc {
  background-color: #0e8ce4;
  height: 100%;
  position: relative; }
  .desc-content .desc .desc-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .desc-content .desc .arrow {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%); }
    .desc-content .desc .arrow.left {
      border-right: 20px solid #0e8ce4;
      left: -18px; }
    .desc-content .desc .arrow.right {
      border-left: 20px solid #0e8ce4;
      right: -18px; }
  .desc-content .desc h4 {
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.5;
    padding: 0px 15px; }
    .desc-content .desc h4 span {
      font-size: 18px;
      font-weight: 300;
      text-transform: capitalize; }

.download-content {
  position: relative;
  overflow: hidden; }
  .download-content .background-image {
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    z-index: 2; }
  .download-content .overlay-blue {
    background-color: #0e8ce4;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    opacity: 0.9;
    z-index: 3; }
  .download-content .overlay-black {
    background-color: #000000;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    opacity: 0.9;
    z-index: 3; }
  .download-content .content {
    z-index: 5;
    position: relative; }
    .download-content .content .left-content {
      color: #ffffff; }
      .download-content .content .left-content h3 {
        font-size: 28px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase; }
      .download-content .content .left-content h5 {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.5px;
        line-height: 24px; }
    .download-content .content .right-content {
      background-color: #ffffff; }
      .download-content .content .right-content h3 {
        font-size: 22px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase; }
        .download-content .content .right-content h3 span {
          color: #0e8ce4; }
      .download-content .content .right-content h5 {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 24px; }
      .download-content .content .right-content ul {
        padding-left: 0; }
        .download-content .content .right-content ul a {
          text-decoration: none; }
        .download-content .content .right-content ul li {
          border: 1px solid #dedede;
          list-style: none;
          font-size: 15px;
          font-weight: 400;
          color: #333333;
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s; }
          .download-content .content .right-content ul li:hover {
            color: #0e8ce4;
            background-color: #efefef; }
          .download-content .content .right-content ul li i {
            font-size: 20px; }

.footer-content {
  background-color: #000000;
  color: #ffffff; }
  .footer-content .border {
    border: 1px solid #333333 !important;
    margin: 2rem 0px; }
  .footer-content h4 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px; }
  .footer-content h5 {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px; }
  .footer-content .socmed-icon li {
    padding: 6px 0px;
    font-size: 13px;
    font-weight: 300;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 18px;
    font-size: 13px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 100%;
    margin-right: 12px;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s; }
    .footer-content .socmed-icon li a {
      color: #333333; }
    .footer-content .socmed-icon li:hover a {
      color: #ffffff; }
    .footer-content .socmed-icon li:hover:nth-child(1) {
      background-color: #0481d9; }
    .footer-content .socmed-icon li:hover:nth-child(2) {
      background-color: #dc2f70; }
    .footer-content .socmed-icon li:hover:nth-child(3) {
      background-color: #3c5a98; }
    .footer-content .socmed-icon li:hover:nth-child(4) {
      background-color: #29c5f6; }
    .footer-content .socmed-icon li:hover:nth-child(5) {
      background-color: #e72f30; }
    .footer-content .socmed-icon li:hover:nth-child(6) {
      background-color: #e72f30; }
    .footer-content .socmed-icon li:hover:nth-child(7) {
      background-color: #fd6a0d; }

/*# sourceMappingURL=catalogue.css.map */
